@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Montserrat, sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../images/math-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    width: 100%;
    font-size: 1.75em;
    padding: 0.75em 0;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(10px);
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    border:5px solid white;
    background-color:rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(10px);
}

.display {
    display: flex;
    width: 100%;
}
.display input{
    flex: 1;
    height: 100px;
    padding: 10px 20px;
    overflow: none;
    text-align: right;
    font-family: "Roboto Mono", monospace;
    font-size: 1.3em;
    width: 100%;
    cursor: default;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
}

.display input:focus-visible {
    outline: none;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    width: 100%;
    border-top: 5px solid white;
}

.row {
    display: flex;
    justify-items: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    user-select: none;
    cursor: pointer;
    aspect-ratio: 1/1;
    font-size: 1.5em;
    flex: 1;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.37);
}

.button:active {
    background-color: rgba(255, 255, 255, 0.211);
}

.footer {
    width: 100%;
    padding: 1.25em;
    text-align: center;
    color: white;
    background-color:rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(10px);
}

.footer p {
    font-size: 1.25em;
}

